@import "../styles-global/global.scss";

#site__header {
  background-color: color(blue);
  color: white;
  padding: 0;
  margin-bottom: 50px;
  #header__top {
    display: flex;
    justify-content: center;
    text-align: left;
    #header-portrait {
      height: 110px;
      width: 110px;
      margin-right: 20px;
      background: {
        image: url("../images/LinkedIn-Global-Headshots-Portrait.jpg");
        color: color(tan);
        size: contain;
        blend-mode: luminosity;
      }
    }
    h1 {
      font-size: 45px;
      font-weight: 300;
      margin: 5px 0;
    }
    h2 {
      font-size: 14px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      margin: 0;
      color: color(tan, lt);
      span {
        &:first-child {
          $role-spacing: 1.1rem;
          padding-right: $role-spacing;
          margin-right: $role-spacing;
          border-right: 1px solid color(tan);
        }
      }
    }
  }
  #header__bottom {
    background-color: color(tan, dk);
    border-top: 2px solid #fff;
  }
}
