@import "../styles-global/global.scss";

#site__header {
  background-color: color(blue);
  color: white;
  padding: 20px 0 0;
  margin-bottom: 50px;
  h1 {
    font-size: 45px;
    font-weight: 300;
    margin: 0 0 5px;
  }
  h2 {
    font-size: 13px;
    text-transform: uppercase;
    span {
      &:first-child {
        $role-spacing: 1.2rem;
        padding-right: $role-spacing;
        margin-right: $role-spacing;
        border-right: 1px solid color(tan);
      }
    }
  }
  #header__bottom {
    background-color: color(tan, dk);
    border-top: 2px solid #fff;
    margin-top: 40px;
  }
}
