// STICKY FOOTER
html,
body,
#root,
.App {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
}
#site__content {
  flex: 1 0 auto;
}
#site__footer {
  flex-shrink: 0;
}

// LINKS
a {
  color: color(yellow);
  text-decoration: none;
  transition: color 0.5s ease;
  &:hover,
  &:focus {
    color: color(yellow, lt);
  }
}

.page__title {
  color: color(blue);
  margin: 0 0 40px;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  &:after {
    content: "";
    display: block;
    margin: 40px auto 0;
    width: 150px;
    border-bottom: 1px solid color(tan, lt);
  }
  span {
    display: block;
  }
}

.page__section {
  margin-bottom: 50px;
}

.section__intro {
  width: 95%;
  margin: 0 auto 75px;
  @media screen and (min-width: 760px) {
    width: 750px;
  }
  h3 {
    @include section-title;
  }
  p {
    font-size: 18px;
    line-height: 1.8em;
    letter-spacing: 0.07em;
  }
}

.title-list {
  padding: 0;
  margin: 0 0 40px;
  & > li {
    list-style: none;
  }
  & .title-list {
    @media screen and (min-width: 760px) {
      margin-left: 20px;
    }
  }
  & ul {
    list-style-type: square;
  }
}

.show,
.hide {
  transition: opacity 0.25s ease;
}
.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}
