#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  @media screen and (min-width: 760px) {
    flex-direction: row;
  }
  p {
    @include header-footer-txt;
    &:last-child {
      margin-right: 5px;
      margin-bottom: 0;
    }
  }
}
