#resume {
  h3 {
    @include section-title;
  }
  #employment-summary {
    li {
      margin: 0 0 15px;
    }
    h4 {
      font-size: 20px;
      margin: 0;
    }
    p {
      font-size: 13px;
      margin: 0;
      color: color(tan);
    }
  }
  #professional-experience {
    h4 {
      font-size: 20px;
      margin: 0;
      color: color(blue);
    }
    .position__meta {
      font-size: 13px;
      margin: 0 0 15px;
      color: color(tan);
    }
    ul {
      margin-bottom: 15px;
    }
    h5 {
      margin: 0 0 3px;
    }
  }
  .grid-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 2px;
    li {
      background-color: color(tan, xlt);
      padding: 13px 15px;
    }
  }
}
